<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWIFTUI-VIPER.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D3FC11027C1956F00FAF99D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3FC12527C1957000FAF99D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3FC12F27C1957100FAF99D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
